.Navbar{
    position: absolute;
    width: 100%;

}
.navbar-content{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50%;
}
.logo img{
    width:150px;

}
.links ul li{
    display: inline-block;
    padding-left: 40px;
    margin: 10px;
    text-align: center;
}
.link{
    color: black;
    text-decoration: none;
    font-size: 22px;
    border-bottom: 2px white;

}

.Home-content{
    width: 100%;
    height: 100vh;
    background-image: url(../images/pexels-cottonbro-studio-5483064.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.text-box{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.text-box h1{
    font-size: 40px;
}
.text-box p{
    font-size: 20px;
    margin-bottom: 20px;
}
.text-box a,.about-content a{
    padding: 10px 5px;
    border: 2px solid rgba(255, 0, 0, 0.207);
    color: white;
    text-decoration: none;
    background-color: rgba(150, 48, 32, 0.488);
    box-shadow: 0px 2px 5px white;
}

/* Services-Content */
.Services-content{
    margin-top: 180px;
    text-align: center;
    /* position: absolute;
    top: 180%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
}
.Services-content h1{
    font-size: 2em;
}
.row{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.courses-col{
    background-color: #fff3f3;
    border-radius: 5%;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
 }
 .courses-col h2{
    font-size: 20px;
    padding: 20px 15px 10px 15px;
 }
 .courses-col p {
 
    padding: 15px 15px 15px 15px;  
 }
 .courses-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    background-color: rgba(238, 30, 30, 0.648);
 }

 /* TechStack */

 .tech-stack{
    position: relative;
    top: 200%;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
 }
 
 .stack-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
 }
 
 .course-col img{
    width: 100%;
    display: block;
 }
 
 .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.5s;
 }
 
 .layer:hover{
    background: rgba(253, 73, 73, 0.777);
 }
 
 .layer h3{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    transform: translateX(-50%);
    transition: 0.5s;
 }
 
 .layer:hover h3{
    bottom: 49%;
    opacity: 1;
 }   

.about-header,.contact-header,.Services-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(16, 11, 32, 0.567), rgba(1, 7, 48, 0.775)), url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-header h1, .contact-header h1,.Services-header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 3em;
}
.about-content{
    margin-top: 8%;
    margin-left: 12%;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
}
.about-content img{
    width: 70%;
}
.col-1 p{
    margin-bottom: 10%;
}



/* Contact-us  */


.form{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.form-content {
    text-align: left;
    margin-top: 15%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-25%);

}

.form-content div{
    margin: 20px;
}
.form-content button{
    padding: 20px;
}


/* Footer */

 .footer{
    /* position: absolute;
    top: 300%; */
    margin-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
    background-color: rgb(203, 247, 251);
 }
 .footer h3{
    padding-top: 20px;
 }
 .footer p{
    padding-top: 20px;
 }